/*For application of flexbox where needed. Coding taken from 'stackoverflow.com'*/

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
/*Container for title*/

.title-container {
  display: flex;
  width: 100%;
  text-align: center;
}
/*Container for map*/
.map-container {
  display: flex;
  width: 100%;
  height:100%;
  justify-content: center;
  text-align: center;
}

.flex {
  flex-grow: 1;
  border: none;
  width:100vw;
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  padding: 0;
  font-family: "Verdana", sans-serif;
  background-color: #0000ff00;
  color: #fff;
}

/*Navigational headings*/

nav ul {
  list-style: none;
  background-color: #6D10FF;
  text-align: center;
  padding: 0;
  margin: 0;
}

nav li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  margin: 2.5%;
}

nav a {
  text-decoration: none;
  font-weight: 550;
  color: #fff;
  display: block;
}

/*Responsive hover on navigation section*/

nav a:hover {
  background-color: #fff;
  color: #4a4a4f;
}

/*Landing page*/

/*Title*/

.title {
  /*Adding an animation to the title, using keyframe*/
  display: inline-block;
  animation: tada;
  animation-duration: 5s;
  color: #6D10FF;
  width:100%;
  justify-content: center;
}

/*friends background image*/

#friends-image {
  height: 40rem;
  width: 100%;
  background: url("../images/Happy_group_of_friends_on_a_wall.jpeg") no-repeat center center;
  border: #6D10FF solid 2px;
  background-color: #6D10FF;
}

/*Pure Drama intro*/
h2 {
  text-align: center;
  color: white;
}

h1 {
  text-align: center;
  color: black;
}

p {
  color: white;
  text-align: left;
  margin: 20px 50px;
}

.intro {
  background-color: #6D10FF;
}

/*class times*/

#class-times {
  text-decoration-color: #6D10FF;
  background-color: aquamarine;
  background-image: url("../images/Empty_auditorium.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow: hidden;
}

#class-times div {
  color: #fff;
  background-color: rgba(0, 0, 0, .6);
  width: 20%;
  height: 300px;
  overflow:scroll;
  float: left;
  padding: 30px 0px 0px 10px;
  text-align: center;
  border: 2px solid red;
  box-sizing: border-box;

}

/*video*/

.video-container {
  display: flex;
  justify-content: centre;
  width:90vw;
  margin-left:5vw;
  margin-right:5vw;
  overflow: scroll;
}

.video {
  object-fit:fill;
  flex-grow: 1;
  border: none;
  margin: 0;
  padding: 0;
}

/*location*/

.town-hall {
  font-size: 180%;
  color: #fff;
  background-color: #6D10FF;
  text-align: center;
}

/*footer*/

footer {
  height: 150px;
}

.Links {
  text-align: center;
}

.Links>li {
  display: inline;
}

.Links i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #3a3a3a;
}

/*Mission page*/

.Mission {
  background-color: #6D10FF;
  color: white;
}

#mission-image {
  height: 60vh;
  width: 100%;
  background: url("../images/mission.avif") no-repeat center center;
}

/*Joanne section*/

.Joanne {
  background-color: #6D10FF;
  color: white;
}

/*Class description section*/

.Classes {
  background-color: #6D10FF;
  color: white;
}

/*Joanne Downey section*/

/*Container for Joanne's image*/
.joanne-container {
  display: flex;
  width: 100%;
  text-align: center;
}

.joanne-image {
  margin-left: 40%;
  border-radius: 50%;
  height: 20rem;
  width: 20rem;

  /*Adding an animation to the image, using keyframe*/
  display: inline-block;
  margin-left: 40%;
  animation: rubberBand;
  animation-duration: 5s;
}

/*Classes description section*/

/*Classes images, used 'vw' and 'vh' metrics for responsivity*/
#Classes {
  Display: inline-block;
  flex-direction: column;
  clear: both;
  background-color: #6D10FF;
  color: white;
}
.class-container {
  display: flex;
}

#Classes > img {
    width: 20vh;
}

.classes-image-one {
  width: 18vw;
  height: 35vh;
  margin-left: 6px;
  flex-direction: column;
  border:6px;
}

.classes-image-two {
  width: 18vw;
  height: 35vh;
  flex-direction: column;
  border:6px;
}

.classes-image-three {
  width: 18vw;
  height: 35vh;
  flex-direction: column;
  border:6px;
}

.classes-image-four {
  width: 18vw;
  height: 35vh;
  flex-direction: column;
  border:6px;
}

.classes-image-five {
  width: 18vw;
  height: 35vh;
  flex-direction: column;
  border:6px;
  margin-right:6px;
}

/*Sign-Up Page*/

/*Spinner design*/

.spinner {
  margin: 100px auto;
  width: 100px;
  height: 100px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1,
.dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #6D10FF;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg)
  }
}

@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg)
  }
}

@-webkit-keyframes sk-bounce {

  0%,
  100% {
    -webkit-transform: scale(0.0)
  }

  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {

  0%,
  100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }

  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/*Sign-Up Form part 1*/

.sign-up-title {
  color: #6D10FF;
  font-style: italic;
}

.form-section {
  background-color: #6D10FF;
  color: white;
  border: aqua;
  font-style: oblique;
}

/*Sign-Up Form part 1*/

.form-section-two {
  background-color: #6D10FF;
  color: white;
  border: aqua;
}

.join-button {
  color: #6D10FF;
  background-color: aqua;
}

.classes-button {
  color: #6D10FF;
  background-color: aqua;
}

.info-button {
  color: #6D10FF;
  background-color: aqua;
}

.type-button {
  color: #6D10FF;
  background-color: aqua;
}


.feedback-button {
  color: #6D10FF;
  background-color: aqua;
}

/*Responsive picture*/

.sign-up-picture {
  margin-left: 20%;
  width:100%;
  justify-content: center;
}

/*Container for sign-up image*/
.signup-container {
  display: flex;
  width: 100vw;
  height:100%;
  justify-content: center;
  text-align: center;
  overflow:hidden;
}

/*Form section pseudo-selector, applying focus to inputs and textareas*/
input:focus {
  background: pink;
}

textarea:focus {
  background: pink;
}


/*Contact details table*/

.widget {
  color: #6D10FF;
  font-style: inherit;
  opacity: 50%;
  flex-direction: column;
}

.contact-table {
  color: rgba(0, 0, 0, .6)
}

.column {
  text-align: center;
  width: 250px;
}

/*Media queries section for responsiveness*/


/* --------- Media queries-two listed here 481px (ipads and tablets) versus 320px (small mobile or smaller), all other features of website designed to be responsive to all devices in original code 
to bed added for all images in particular*/

/* Now let’s see some common breakpoints for widths of devices:

320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

/* ipads and tablets */
@media screen (max-width: 481px) {
  /*WELCOME PAGE IMAGES*/
/* welcome cover photo */
#friends-image {
  max-width: 100%;
  height: auto;
  };

  /* five sections for class times */
  #class-times {
    max-width: 100%;
    height: auto;
  };

  /* video section */

.video-container {
  max-width: 100%;
  width:80vw;
  height: auto;
};

  /*iframe map section */

  .flex {
  max-width: 100%;
  height: auto;
  };

  /* MISSION PAGE IMAGES */

  /* Mission image of 'road ahead' sign */

  #mission-image {
    max-width: 100%;
    height: auto;
  };

  /*Joanne Downey image*/

  .joanne-image {
  max-width: 100%;
  height: auto;
  margin-left: 20%;
  margin-right:20%;
  };


/* Class images */

.classes-image-one {
  max-width: 100%;
  height: auto;
};
.classes-image-two {
  max-width: 100%;
  height: auto;
};
.classes-image-three {
  max-width: 100%;
  height: auto;
};
.classes-image-four {
  max-width: 100%;
  height: auto;
};
.classes-image-five {
  max-width: 100%;
  height: auto;
};

/*Responsive image on sign-up page: 1st image used if max-width is 699px second if over */

.flex {
  max-width: 100%;
  height: auto;
};


/*mobiles*/

@media screen (max-width: 320px) {
    /*WELCOME PAGE IMAGES*/
/* welcome cover photo */
#friends-image {
  max-width: 100%;
  height: auto;
};

/* five sections for class times */
#class-times {
  max-width: 100%;
  height: auto;
};

/* video section */

.video-container {
  max-width: 100%;
  height: auto;
};

/*iframe map section */

.flex {
  max-width: 100%;
  height: auto;
};

/* MISSION PAGE IMAGES */

/* Mission image of 'road ahead' sign */

#mission-image {
  max-width: 100%;
  height: auto;
};

/*Joanne Downey image*/

.joanne-image {
  max-width: 100%;
  height: auto;
  margin-right:30%;
  };

}

/* Class images */

.classes-image-one {
  max-width: 100%;
  height: auto;
};
.classes-image-two {
  max-width: 100%;
  height: auto;
};
.classes-image-three {
  max-width: 100%;
  height: auto;
};
.classes-image-four {
  max-width: 100%;
  height: auto;
};
.classes-image-five {
  max-width: 100%;
  height: auto;
};

/*Responsive image on sign-up page: 1st image used if max-width is 699px second if over */

.flex {
  max-width: 100%;
  height: auto;
};