body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    background-color: #0000ff00;
}

/*Navigational headings*/

nav ul {
    list-style:none;
    background-color: #6D10FF;
    text-align:center;
    padding:0;
    margin:0;
}

nav li {
    font-size:1.2em;
    line-height:40px;
    height:40px;
    display: inline-block;
    margin:2.5%;
}

nav a {
    text-decoration:none;
    color:#fff;
    display:block;
}
/*Responsive hover on navigation section*/

nav a:hover {
    background-color:#fff;
    color:#4a4a4f;
}

/*Landing page*/

/*town-hall-image*/

#town-hall-image {
    height: 1000px;
    width:100%;
    background: url(/assets/images/Town\ Hall.avif) no-repeat center center;
}

/*Pure Drama intro*/
h2 {
    text-align:center;
    color:white;
}

h1 {
    text-align:center;
    color:black;
}

p {
    color:white;
    text-align:left;
}

.intro {
    background-color: #6D10FF;
}


.Classes {
    text-decoration-color: #6D10FF;
    background-color: aquamarine;
}

/*class times*/

#class-times {
    background-image: url('../images/Empty\ auditorium.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#class-times div {
    color:#fff;
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0px 0px 10px;
    text-align:center;
    border: 2px solid red;
    box-sizing:border-box;

}

/*video of applauding audience*/

.applause-video {
    margin-left:20%;
}

/*location*/

.town-hall {
    font-size: 180%;
    color: greenyellow;
    background-color:#6D10FF;
}

/*footer*/

footer {
    height: 150px;
}

.Links 
{
    text-align: center;
}

.Links > li {
    display: inline;
}

.Links i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/*Mission page*/

.Mission {
    background-color:#6D10FF;
    color:white;
}

/*Joanne section*/

.Joanne {
    background-color:#6D10FF;
    color:white;
}

/*Class description section*/

.Classes {
    background-color:#6D10FF;
    color:white;
}

#mission-image {
    height: 600px;
    width:100%;
    background: url(/assets/images/mission.avif) no-repeat center center;
}

/*Joanne Downey description section*/
.joanne-downey-image {
    height: 1000px;
    width:100%;
    background: url(/assets/images/Joanne\ Downey\ .avif) no-repeat center center;
}

.joanne-image {
    margin-left: 340px;
    border-radius:50%;
}

/*Classes description section*/

/*Classes images*/
.Classes {
    Display:inline-block
}

.classes-image-one {
    max-width: 20%;
    max-height: 20%;
}

.classes-image-two {
    max-width: 20%;
    max-height: 20%;
}

.classes-image-three {
    width: 20%;
    height: 20%;
}

.classes-image-four {
    max-width: 20%;
    max-height: 20%;
}

.classes-image-five {
    max-width: 20%;
    max-height: 20%;
}

/*Sign-Up Page*/

/*Spinner design*/

.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
  }
  
  .dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #6D10FF;
    border-radius: 100%;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
  @keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }

  /*Sign-Up Form part 1*/

  .form-section {
    background-color: #6D10FF;
    color:white;
    border: aqua;
    font-style: oblique;
  }

  /*Sign-Up Form part 1*/

  .form-section-two {
    background-color: #6D10FF;
    color:white;
    border: aqua;
  }

  .join-button {
    color:#6D10FF;
    background-color:aqua;
  }

  .feedback-button {
    color:#6D10FF;
    background-color:aqua;
  }

  /*Responsive picture*/

  .sign-up-picture {
    margin-left: 20%;
  }

    /*Contact details table*/
    .contact-table {
        border:rgba(0, 0, 0, .6);
        border-width: 1px;
        border-color: aqua;
        margin-left: 25%;

    }
