body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    background-color: #0000ff00;
}

/*headings*/

nav ul {
    list-style:none;
    background-color: #6D10FF;
    text-align:center;
    padding:0;
    margin:0;
}

nav li {
    font-size:1.2em;
    line-height:40px;
    height:40px;
    display: inline-block;
    margin:2.5%;
}

nav a {
    text-decoration:none;
    color:#fff;
    display:block;
}

nav a:hover {
    background-color:#fff;
    color:#4a4a4f;
}

/*Pure Drama intro*/
h2 {
    text-align:center;
    color:white;
}

h1 {
    text-align:center;
    color:black;
}

p {
    max-width: 50%;
    max-height: 200px;
    color:white;
    text-align:left;
}




.intro {
    background-color: #6D10FF;
}


.Classes {
    text-decoration-color: #6D10FF;
    background-color: aquamarine;
}

/*class times*/

#class-times {
    background-image: url('../images/Empty\ auditorium.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#class-times div {
    color:#fff;
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0px 0px 10px;
    text-align:center;
    border: 2px solid red;
    box-sizing:border-box;

}

/*location*/

.town-hall {
    font-size: 180%;
    color: greenyellow;
    background-color:#6D10FF;


}


/*footer*/

footer {
    height: 150px;
}

.Links 
{
    text-align: center;
}

.Links > li {
    display: inline;
}

.Links i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

